@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600");

$blue: #5B83AD;
$yellow: #FFFFE0;

html,body {height:100%}

body {
  padding-top: 70px;
  font: 14px "Open sans", sans-serif;
   min-height: 2000px;
  
  h1,h2,h3{
      font-weight: 100;
  }
  
  .template {
    background-color: $yellow;
  }
  
  .navbar-static-top {
  margin-bottom: 19px;
    }
    #app-container, .search-page-view{
        height: 100%;
    }
    
    .ui-layout-container, .ui-layout-pane {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}    
}

@import 'homepage';
@import "layout-default-latest.css";