<!DOCTYPE html>
<html>
    <head>

        <title>Ghanamusic app</title>
        <meta charset="utf-8">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" />

        <link href="/stylesheets/style.css" rel="stylesheet">

        <script src="/socket.io/socket.io.js"></script>
        <script src="/javascripts/reload-client.js"></script>
    </head>
    <body>
    <div class="container">
        <div id="app-container">
        <p>...Loading </p>
        </div>
    </div>    
        <script src="/javascripts/vendor/requirejs/require.js" data-main="/javascripts/main.js"></script>
    </body>
</html>